<div class='main-container'>
  <div class='row'>
    <div class='col-md-5 offset-md-1'>
      <div class=main-subject>お問い合わせの内容確認</div>
      <table>
        <tbody>
          <tr>
            <td>お名前</td>
            <td>　<%= @contact.name %></td>
          </tr>
          <tr>
            <td>返信先メールアドレス</td>
            <td>　<%= @contact.email %></td>
          </tr>
          <tr>
            <td>お電話番号</td>
            <td>　<%= @contact.phone_number %></td>
          </tr>
          <tr>
            <td>メッセージ</td>
            <td style="white-space: pre-wrap;">　<%= @contact.message %></td>
          </tr>
        </tbody>
      </table>
      <br>
      <%= form_for(@contact) do |f| %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :email %>
        <%= f.hidden_field :phone_number %>
        <%= f.hidden_field :message %>
        <div><%= f.submit '送信', class:"btn btn-outline-success" %></div>
      <% end %>
      <%= form_for @contact, url: back_path do |f| %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :email %>
        <%= f.hidden_field :phone_number %>
        <%= f.hidden_field :message %>
        <div><%= f.submit '入力画面に戻る', class:"btn btn-outline-secondary" %></div>
      <% end %>
    </div>
  </div>
</div>