<div class='main-container'>
<h2>投稿編集</h2>
<%= form_with model:@post, local:true do |f| %>
<div class="form-group">
  <label for="title">スポット名</label>
  <%= f.text_field :title, autofocus: true, id:"inputTitle", placeholder:"スポット名"%>
</div>

<div class="form-group">
  <label for="body">説明</label>
  <%= f.text_field :body, autofocus: true, id:"inputBody", placeholder:"説明"%>
</div>

<div class="form-group">
  <label for="evaluate_stars">評価</label>
  <div class="post-evaluation" data-score="<%= @post.evaluation %>"></div>
</div>

  <%= attachment_image_tag @post, :image, :fill, 400, 320 , fallback: "no_image.jpg"%>
  <label for="inputImage">投稿画像</label>
  <%= f.attachment_field :image, placeholder: "投稿画像" %>

  <div class="spot">
    <%= f.fields_for :spot do |s| %>
      <%= s.label :address, "レビュー場所(Google Mapで検索)", class: 'spot__title' %>
      <%= s.text_field :address, placeholder: "スポットを入力", id: "address", class: 'spot__text' %>
    <% end %>
    <input onclick="codeAddress()" type="button" value="検索する"></input>
  <div class="map" id="show_map" style="height: 320px; width: 400px;"></div>
  </div>

  <div class="form-group">
    <%= f.submit "変更を保存" %>
  </div>
<% end %>

<script>
  $('.post-evaluation').raty({

    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>