<div class='main-container'>
  <div class='row'>
    <div class='col-md-5 offset-md-1'>
      <div class=main-subject>スポット投稿フォーム</div>

      <%= form_with model: @post, local:true, multipart: true do |f| %>
    
      <div class="form-group">
        <%= f.label :genre, "ジャンル" %>
        <%= f.collection_select(:genre_id, Genre.all, :id, :name, prompt: "-- 選択してください --") %>
      </div>

      <div class="form-group">
        <%= f.label :title, 'スポット名' %>
        <%= f.text_field :title, autofocus: true, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :body, '説明' %>
        <%= f.text_field :body, autofocus: true, class: 'form-control' %>
      </div>

      <div id="evaluate_stars">
        <label>評価</label>
      </div>

      <div class="form-group">
        <%= f.label :image, 'スポット画像' %>
        <%= f.attachment_field :image %>
      </div>

        <div class="spot">
        <%= f.fields_for :spot do |s| %>
          <%= s.label :address, "レビュー場所(Google Mapで検索)", class: 'spot__title' %>
          <%= s.text_field :address, placeholder: "スポットを入力", id: "address", class: 'form-control' %>
        <% end %>
        <input onclick="codeAddress()" type="button" value="検索する"></input>
        <div class="map" id="map" style="height: 320px; width: 640px;"></div>
        <br>
        <div>
          <%= f.submit "投稿する",class: 'btn btn-outline-success' %>
        </div>
　　  <% end %>
    </div>
  </div>
</div>
</div>

<script>
  $('#evaluate_stars').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'post[evaluation]' 
  });
</script>