<div class='main-container'>
  <div class=main-subject>投稿情報</div>
    <div class='row'>
      <div class='col-md-3'>

        <p><%= attachment_image_tag @post.user, :profile_image, :fill, 100, 100 , fallback: "no_image.jpg", class:"mt-3 rounded-circle" %></p>
        <p>投稿ユーザ：<%= @post.user.name %></p>
        <p>スポット名：<%= @post.title %></p>
        <p>説明：<%= @post.body %></p>
        <div class="post-evaluation" data-score="<%= @post.evaluation %>">評価：</div>
        <div class="favorite-btn-<%= @post.id %>"><%= render "user/favorites/favorite-btn", post: @post %></div>
        <p>コメント件数：<%= @post.post_comments.count %></p>

        <tr>
          <%= form_with(model:[@post, @post_comment], local: true) do |f| %>
            <%= f.text_area :comment, rows:'3',placeholder: "コメントを投稿しましょう" %>
            <%= f.submit "送信する", class:"btn btn-outline-secondary" %>
          <% end %>
        </tr>
      </div>

      <div class='col-md-3'>
        <p>投稿画像</p>
        <%= attachment_image_tag @post, :image, :fill, 400, 320 , fallback: "no_image.jpg" %>
      </div>

      <div class="col-md-3">
        <p>地図</p>
        <div class="show__address"></div>
        <div class="show__maps" id="show_map" style="height: 320px; width: 400px;"></div>
        <p>投稿日時：<%= @post.created_at.strftime('%Y/%m/%d %T') %></p>
        <% if @post.user == current_user %>
        <%= link_to "編集", edit_post_path(@post), class:"btn btn-outline-secondary" %>
        <%= link_to "削除", post_path(@post), method: :delete, class:"btn btn-outline-danger" %>
        <% end %>
      </div>
    </div>

  <div class='col-md-8 offset-md-1'>
    <div class=main-subject>コメント一覧</div>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>ユーザーネーム</th>
            <th>コメント</th>
            <th>コメント日時</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @post.post_comments.each do |post_comment| %>
          <tr>
            <td><%= attachment_image_tag post_comment.user, :profile_image, :fill, 60, 60 , fallback: "no_image.jpg" %></td>
            <td><%= post_comment.user.name %></td>
            <td><%= post_comment.comment %></td>
            <td><%= post_comment.created_at.strftime('%Y/%m/%d %T') %></td>
            <% if post_comment.user == current_user %>
            <td><%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, class:"btn btn-outline-danger" %></td>
            <% end %>
          <% end %>
          </tr>
        </tbody>
    </table>
  </div>
</div>



<script>
  $('.post-evaluation').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>