<!DOCTYPE html>
<html>
  <head>
    <title>TAWLA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['SECRET_KEY'] %>&callback=initMap" async defer></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  </head>

  <body>
    <% if request.fullpath.include?("admin") %>
    <%= render 'layouts/header_admin' %>
    <% else %>
    <%= render "layouts/header_user" %>
    <% end %>

    <%= yield %>
    
    <%= render 'layouts/footer' %>
  </body>
</html>
